{% extends 'layout.html' %}

{% block title %}Dashboard{% endblock %}

{% block content %}
<h2>Dashboard</h2>
<script src="{{ url_for('static', filename='templates/dashboard.html') }}"></script>
<!--<script src="{{ url_for('static', filename='js/dashboard.js') }}"></script>-->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="{{ url_for('static', filename='js/dashboard.js', v=1)}}"></script>
<p>Master Mind  {{ username }} </p>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <i class="fas fa-brain"></i> Memory Master
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggle-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">


  </div>
</nav>

<div class="container-fluid">
  <div class="row content">
    <div class="col-sm-3 sidenav hidden-xs">
      <h2>Welcome to your dashboard!</h2>
      <ul class="nav nav-pills nav-stacked">
        <li class="active"><a href="#section1">Dashboard</a></li>
        <li><a href="#section2">Number</a></li>
        <li><a href="#section3">Rythme</a></li>
        <li><a href="#section3">Sound</a></li>
      </ul><br>
    </div>
    <br>
    
    <div class="col-sm-9">
      <div class="well">
        <h4>Insights/h4>
        <p>Total Time</p>
      </div>
      <div class="row">
        <div class="col-sm-3">
          <div class="well">
            <h4>Game Performance Breakdown</h4>
            <div class="chart-container">
        <!-- Pie Chart for Score Percentage -->
        <canvas id="scorePieChart"></canvas>
            </div>

            <div class="chart-container">
        <!-- Pie Chart for Time Played -->
        <canvas id="timePieChart"></canvas>
           </div>
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Pages</h4>
            <p>100 Million</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Sessions</h4>
            <p>10 Million</p> 
          </div>
        </div>
        <div class="col-sm-3">
          <div class="well">
            <h4>Bounce</h4>
            <p>30%</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
            <p>Text</p> 
            <p>Text</p> 
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-8">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
        <div class="col-sm-4">
          <div class="well">
            <p>Text</p> 
          </div>
        </div>
      </div>
    </div>
  </div>
</div>



{% endblock %}
