{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<meta name = "viewport" content="width=device-width, initial-scale=1.0">
<h2>Memory Master </h2>
<p>Welcome back, {{ username }}!</p>

<h3> Select a Game Mode!</h3>
<form action="{{ url_for('select_game_mode') }}" method="POST">
    <button type="submit" name="game_mode" value="num_relaxed">Number Game Relaxed Mode</button> <br>
    <button type="submit" name="game_mode" value="num_survival">Number Game Survival Mode</button> <br><br>

    <button type="submit" name="game_mode" value="rhythm">Rhythm Game </button><br><br>


    <button type="submit" name="game_mode" value="sound_game_rel">Melody Master Relaxed Mode</button> <br>
    <button type="submit" name="game_mode" value="sound_game_sur">Melody Master Survival Mode</button> <br>



    <button type="submit" name="game_mode" value="more_info">Game Instructions</button> 


</form>

{% endblock %}