{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Memory Master </h2>
<p>Welcome back, {{ username }}!</p>

<h3> Select a Game Mode!</h3>
<form action="{{ url_for('select_game_mode') }}" method="POST">
    <button type="submit" name="game_mode" value="num_relaxed">Number Game Relaxed Mode</button> <br>
    <button type="submit" name="game_mode" value="num_survival">Number Game Survival Mode</button> <br><br>
    <button type="submit" name="game_mode" value="relaxed">Rhythm Game Relaxed Mode</button><br>
    <button type="submit" name="game_mode" value="survival">Rhythm Game Survival Mode</button><br><br>
    <button type="submit" name="game_mode" value="relaxed">Sound Game Relaxed Mode</button> <br>
    <button type="submit" name="game_mode" value="survival">Sound Game Survival Mode</button> 

</form>

{% endblock %}