 <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Game Mode</title>
</head>
<body>
    <h1>Select Game Mode</h1>
    <form method="POST">
        <button type="submit" name="game_mode" value="relaxed">Relaxed Mode</button>
        <button type="submit" name="game_mode" value="survical">Survival Mode</button>
        <button type=""submit" name="game_mode" value="rhythm"> Rhythm Game</button>
        <button type="submit" name="game_mode" value="info">More Info</button>
    </form>

    {% if game_mode == 'info' %}
        <h2>Game Instructions:</h2>
        <h3> Survival Mode:</h3>
        <p> Player is shown a sequence of numbers.Player must try to remember the numbers and enter them in the same order they were shown.
            If the player enters the numbers incorrectly, then the game will be over. Otherwise the player proceeds through the game.
            The game will go on infinitely with each sequence of numbers becoming longer and faster. As the player moves forward they are awarded points..</p>

        <h3>Relaxed Mode:</h3>
        <p> Player is shown a sequence of numbers.Player must try to remember the numbers and enter them in the same order they were shown.
            If the player enters the numbers incorrectly, they will still have a chance to enter the numbers or skip. The game only ends if the player chooses to quit the game.\n
            The game will go on infinetly with each sequence of numbers becoming longer and faster. The player will not be rewarded any points.</p>
    {% endif %}

    {% if result %}
        <h2>Game Result:</h2>
        <p>{{result}}</p>
    {% endif %}
            
</body>
</html>

